#anxinMall_body {
	WIDTH: 980px
}
SPAN.help {
	PADDING-RIGHT: 4px; PADDING-LEFT: 32px; BACKGROUND: url(../images/centerPoi2.gif) no-repeat 8px 3px; PADDING-BOTTOM: 4px; COLOR: #c00; PADDING-TOP: 4px
}
.select {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.select .link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px
}
.select .link UL LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 210px; LINE-HEIGHT: 32px; PADDING-TOP: 8px; HEIGHT: 32px; TEXT-ALIGN: center
}
.select .link UL LI A {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(../images/post_btn_bg.gif) repeat-x; BORDER-LEFT: #aaa 1px solid; LINE-HEIGHT: 32px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 32px
}
.progress {
	FONT-SIZE: 14px; HEIGHT: 33px
}
.progress LI {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/progress_1.gif) no-repeat; FLOAT: left; WIDTH: 128px; LINE-HEIGHT: 33px; HEIGHT: 33px
}
.progress .current {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/progress_2.gif) no-repeat; COLOR: #fff
}
.progress LI A {
	COLOR: #cc3300
}
.publish {
	WIDTH: 750px
}
.publish TABLE {
	MARGIN-TOP: 30px
}
.publish TH {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100px; TEXT-ALIGN: right
}
.publish TH SPAN {
	PADDING-RIGHT: 4px; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "ו"
}
.publish TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px
}
.publish .input {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 24px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; HEIGHT: 24px
}
.publish TEXTAREA {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 150%; PADDING-TOP: 5px
}
.publish .sub {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/submit_bg.gif) #c00 no-repeat; WIDTH: 140px; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 30px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.publish .files {
	FONT-SIZE: 12px; WIDTH: 260px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.publish .upload {
	WIDTH: 620px
}
.publish .upload DIV {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 7px; WIDTH: 122px; PADDING-TOP: 7px; HEIGHT: 135px; TEXT-ALIGN: center
}
.publish .upload DL {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 10px; BORDER-LEFT: #ddd 1px solid; WIDTH: 100px; PADDING-TOP: 10px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 110px
}
.publish .upload DL DT IMG {
	WIDTH: 100px; HEIGHT: 75px
}
.publish .upload DL DT SPAN {
	DISPLAY: block; FILTER: alpha(opacity=40); WIDTH: 100px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #000; moz-opacity: 0.4; opacity: 0.4
}
.publish .upload DL DT A {
	DISPLAY: block; WIDTH: 100px; COLOR: #fff; LINE-HEIGHT: 20px; POSITION: absolute; HEIGHT: 20px; TEXT-ALIGN: center
}
.publish .upload DL DD {
	PADDING-TOP: 10px
}
.publish LABEL.error {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: 8px 3px; PADDING-LEFT: 32px; BACKGROUND-IMAGE: url(../images/ico_error_2.gif); PADDING-BOTTOM: 4px; COLOR: #c00; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat
}
.publish LABEL.error A {
	COLOR: #333; TEXT-DECORATION: underline
}
.publish .error {
	BACKGROUND-COLOR: #fefce7
}
